@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/Helvetica-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/helvetica-light-587ebe5a59211.ttf);
  font-weight: 250;
}
@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/Helvetica.ttf);
  font-weight: 400;
}
* {
  transition: all 0.3s ease-in;

  font-size: 1rem;
  font-family: "Helvatica";
  margin: 0rem;
  padding: 0rem;
}
.pointer {
  cursor: pointer;
}
.common-margin {
  margin-bottom: 100px;
}
.common-margin-heading {
  margin-bottom: 48px;
}
.post_details {
  padding: 0px 20px;
  position: absolute;
  top: 10%;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.posts__card {
  border-radius: 20px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 515px;
  width: 100%;
  position: relative;
}
.posts__card p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #da0e3f;
}
.posts__card h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #f2f2f2;
}
.posts__card img {
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catagory_tabs {
  width: fit-content;
  border: 0.5px solid #655c5c;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  background: #fff;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  /* identical to box height, or 194% */

  color: #000000;
}

.navbar-toggler {
  width: 20%;
  border: 0;
}
.catagory_tabs.active {
  background: #1b5dd6;
  color: #fff;
  box-shadow: 0px 2px 15px #5790fb;
  border-radius: 10px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.bg-gray-section {
  background: #f0f2f5;
  padding: 100px 0px;
}
h2 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  margin: 0;
  color: #063658;
}

h5 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 500;
  font-size: 58.1053px;
  line-height: 87px;

  color: #063658;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
h5 span {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 500;
  font-size: 38.7368px;
  line-height: 58px;

  color: #5252fd;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.admin__card-top1 {
  margin-top: 16px;
}
.nav-item {
  margin-right: 8px;
}
.nav-link.active {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #3e6aff !important;
  border-bottom: 0.0625rem solid #3e6aff;
}
.nav-link {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  /* identical to box height */

  color: #293b47;
}

.sm-title-1 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 300;
  font-size: 1.0445rem;
  line-height: 1.5625rem;
  /* identical to box height */

  letter-spacing: 0.29em;
  text-transform: uppercase;

  color: #063658;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.lg-head-title-1 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5812rem;
  line-height: 4.5rem;
  /* or 125% */

  letter-spacing: -0.06em;
  text-transform: capitalize;
  color: #063658;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.lg-head-title-1 span {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5812rem;
  line-height: 4.5rem;
  /* or 125% */

  letter-spacing: -0.1em;
  text-transform: capitalize;
  color: #3e6aff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.sm-p-1 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8125rem;
  /* or 179% */

  text-align: justify;

  color: #768996;
}

button {
  box-sizing: border-box;

  /* Auto layout */
  background: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5756rem;

  width: 14.6237rem;
  height: 3.3575rem;

  border: 0.0575rem solid #097aff;
  border-radius: 1.2068rem;

  font-family: "Helvatica";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9205rem;
  line-height: 1.375rem;
  /* identical to box height */

  text-transform: uppercase;

  color: #097aff;
}
.section-margin-top {
  margin-top: 4.6875rem;
}

.button-margin-top {
  margin-top: 2.875rem;
}

.lg-head-2 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */

  text-align: center;
  text-transform: capitalize;

  color: #063658;
}
.lg-head-2 span {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */

  text-align: center;
  text-transform: capitalize;

  color: #3e6aff;
}

.text-justify {
  text-align: justify !important;
}
.wrappers-text-div {
  position: relative;
}
.text-bg-img::before {
  position: absolute;
  width: 100%;
  height: 23%;
  content: "";
  top: 0;
  left: 0;
  background-image: url(./img/lf30_editor_p6rpf9nb.gif);
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  transform: translate(0%, 0%);
  background-position-x: 86%;
  background-position-y: -1.5625rem;
}

.sectiom-2-margin-top {
  margin-top: 12.3125rem;
}

.sm-title-2 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  /* or 150% */

  color: #063658;
}
.sm-p-2 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  /* identical to box height, or 171% */

  color: #a7a7a7;
}
.sm-title-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem;
  gap: 0.5rem;
}
.lg-head-3 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.75rem;
  /* identical to box height, or 78% */

  text-transform: capitalize;

  color: #063658;
}
.sm-p-3 {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  /* or 175% */

  text-transform: capitalize;

  color: #768996;
}

.margin-top {
  margin-top: 15%;
}

.bg-theme-1 {
  background: #063658;
  padding-top: 51px;
  padding-bottom: 51px;
}
a {
  text-decoration: none;
}
a:hover {
  color: unset !important;
}
.opacity-5 {
  opacity: 0.5;
}
.a-p-1 {
  position: relative;
}
.lg-head-bg-title-1,
.lg-head-bg-title-1 span {
  font-family: "Helvatica";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */
  text-transform: capitalize;
}
.menu_tabs {
  margin-bottom: 1.5rem;
  gap: 0.5rem;
}
.column-gap-1 {
  column-gap: 4.125rem;
  gap: 4.125rem;
}

@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/Helvetica-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/helvetica-light-587ebe5a59211.ttf);
  font-weight: 250;
}
@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/Helvetica.ttf);
  font-weight: 400;
}
* {
  transition: all 0.3s ease-in;
  font-size: 1rem;
  font-family: "Helvatica";
  margin: 0rem;
  padding: 0rem;
}
.top-section {
  position: relative;
}
.right_imge {
  width: 541px;
  height: 710px;
  position: absolute;
  height: auto;
  top: 0;
  right: 0;
}
.right_imge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Post__card {
  cursor: pointer;
  position: relative;
}
.backgroung_post::before {
  content: "";
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  position: absolute;
  background: url("./img/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  top: -3px;
  background-size: contain;
  z-index: 5;
}
.backgroung_post::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("./img/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  bottom: -3px;
  background-size: contain;
  z-index: 5;
}
.backgroung_post {
  position: relative;
}
.swiper {
  width: 100%;
  height: 600px;
}
.swiper-slide.swiper-slide-duplicate-active {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.swiper-slide,
.swiper-slide.swiper-slide-duplicate,
.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-duplicate-next,
.swiper-slide.swiper-slide-duplicate-prev {
  transition: all 0.3s ease;
  transform: translateX(50px);
}
.swiper-slide.swiper-slide-active {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.swiper-slide.swiper-slide-active .Post__card .post_img {
  width: 0px;
  transition: all 0.5s ease-in;
}
.swiper-slide.swiper-slide-active .Post__card .post_title .post_title_h1 {
  font-size: 32px;
  color: #313131;
  transition: all 0.5s ease-in;
}

.swiper-slide.swiper-slide-active .Post__card::before {
  transform: scale(1);
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  animation: animate;
  animation-duration: 4s;
  animation-timing-function: linear;
  transition: all 0.5s ease-in-out;
}
@keyframes animate {
  0% {
    width: 0px;
    height: 2px;
    background-size: cover;
    background-position: bottom left;
    background-image: url("./img/Rectangle 12.svg");
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    width: 0%;
  }
  100% {
    width: 100%;
    height: 2px;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: ("./img/Rectangle 12.svg");
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
}

.swiper-slide {
  transition: all 0.3s ease;
}
.Post__card {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
}
.post-tags-lable {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;

  color: #da0e3f;
}
.Post__card {
  position: relative;
}
.Post__card .post_id_slider {
  position: aboslute;
  width: 1.5625rem;
  height: 1.5625rem;
  top: 0;
  left: 0;
}
.Post__card .post_tags {
  display: flex;
  gap: 1rem;
  margin-bottom: 15px;
}
.post_img {
  width: 130px;
  overflow: hidden;
}
.post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #d9d9d9;
  border-radius: 13px;
}
.post_title .post_title_h1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: auto;
  /* or 146% */

  color: #655c5c;
}

.treaning_section h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: auto !important;
  color: #383333;
}
.treaning_section p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #1d4abf;
}
.ct-margin {
  margin-top: 48px;
}
.catagaroy-img {
  width: 100%;
  height: 196px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
.catagaroy-img img:hover,
.posts__card img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.catagaroy-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;

  border-radius: 20px;
}
.catagaroy_text * {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  /* identical to box height, or 219% */

  color: #ffffff;
}
.h-m {
  height: 214px !important;
}
.h-lg {
  height: 589px !important;
}

.grid-margin {
  margin-bottom: 24px;
}
.post_details-text {
  flex: none;
  order: 1;
  flex-grow: 0;
}
.post_details-text p {
  margin-bottom: 0;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  gap: 16px;
  margin-top: 18px;
  color: #da0e3f;
  /* identical to box height */
}
.post_details-text h3 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  /* or 146% */
  margin-bottom: 0;
  margin-top: 15px;
  color: #655c5c;
}
.text-width {
  width: 75%;
}

/* Loader */
.Overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loader {
  position: relative;
  width: 108px;
  display: flex;
  justify-content: space-between;
}
.loader::after,
.loader::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: radial-gradient(circle 14px, #0d161b 100%, transparent 0);
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: eyeMove 10s infinite, blink 10s infinite;
}
@keyframes eyeMove {
  0%,
  10% {
    background-position: 0px 0px;
  }
  13%,
  40% {
    background-position: -15px 0px;
  }
  43%,
  70% {
    background-position: 15px 0px;
  }
  73%,
  90% {
    background-position: 0px 15px;
  }
  93%,
  100% {
    background-position: 0px 0px;
  }
}
@keyframes blink {
  0%,
  10%,
  12%,
  20%,
  22%,
  40%,
  42%,
  60%,
  62%,
  70%,
  72%,
  90%,
  92%,
  98%,
  100% {
    height: 48px;
  }
  11%,
  21%,
  41%,
  61%,
  71%,
  91%,
  99% {
    height: 18px;
  }
}
/* 
.loader {
  display: block;
  position: relative;
  height: 32px;
  width: 200px;
  background: #fff;
  border: 2px solid #fff;
  color: red;
  overflow: hidden;
}
.loader::before {
  content: "";
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading 10s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
  animation: percentage 10s linear infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes percentage {
  0% {
    content: "0%";
  }
  5% {
    content: "5%";
  }
  10% {
    content: "10%";
  }
  20% {
    content: "20%";
  }
  30% {
    content: "30%";
  }
  40% {
    content: "40%";
  }
  50% {
    content: "50%";
  }
  60% {
    content: "60%";
  }
  70% {
    content: "70%";
  }
  80% {
    content: "80%";
  }
  90% {
    content: "90%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
} */

/* Loader Ebd */
@media (min-width: 769px) {
  .right_imge_card {
    display: none;
  }
}

@media (max-width: 990px) {
  .text-width {
    width: 100%;
  }
  .h-m,
  .h-lg {
    height: 464px !important;
  }
}
@media (max-width: 768px) {
  .admin__headers_sec2 p {
    display: none;
  }
  .admin__card-top {
    margin-top: 16px;
  }
  .admin__headers_sec2 img {
    margin-left: auto;
  }
}
@media (max-width: 450px) {
  .h-m,
  .h-lg {
    height: 264px !important;
  }
  .admin__headers h1 {
    font-size: 6vw;
  }
  .admin__headers div {
    gap: 1.3125rem;
  }
  .admin__headers_sec2 p {
    display: none;
  }
  .admin__headers_sec2 img {
    width: 15vw;
    height: 15vw;
  }
}

@media (max-width: 768px) {
  .right_imge {
    display: none;
  }
  .right_imge_card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
  }
  .right_imge_card img {
    width: 100%;
  }
  .mobile-reverse {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 1440px) {
  .right_imge {
    width: 541px;
    z-index: 6;
  }
}
@media (max-width: 1200px) {
  .right_imge {
    width: 477px;
    height: 500px;
  }
}
@media (max-width: 1024px) {
  .right_imge {
    width: 377px;
    height: 500px;
  }
}
