@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/Helvetica-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/helvetica-light-587ebe5a59211.ttf);
  font-weight: 250;
}
@font-face {
  font-family: "Helvatica";
  src: url(./Fonts/Helvetica.ttf);
  font-weight: 400;
}
* {
  transition: all 0.3s ease-in;

  font-size: 1rem;
  font-family: "Helvatica";
  margin: 0rem;
  padding: 0rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1440px;
}
#section_admin {
  background-color: #f2f2f2;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blog-margin-top {
  margin-top: 0.9375rem;
  margin-bottom: 4.3125rem;
}
.search-input:focus {
  box-shadow: none;
  outline: none;
}
.navbar-brand {
  font-weight: 600;
  color: #063658;
  font-size: 3rem;
  cursor: pointer;
}
.navbar-brand span {
  color: #3e6aff;
  font-weight: 600;
  opacity: 0.5;
  font-size: 2.3rem;
}
