body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blog-margin-top {
  margin-top: 0.9375rem;
  margin-bottom: 4.3125rem;
}
.search-input:focus {
  box-shadow: none;
  outline: none;
}
.navbar-brand {
  font-weight: 600;
  color: #063658;
  font-size: 3rem;
  cursor: pointer;
}
.navbar-brand span {
  color: #3e6aff;
  font-weight: 600;
  opacity: 0.5;
  font-size: 2.3rem;
}
.blog__h4-section-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  /* identical to box height */

  text-transform: capitalize;

  color: #063658;
}
.blog__h6-section-seemore {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  /* identical to box height */

  text-transform: capitalize;

  color: #0095ff;
}
.blog__card-div {
  filter: drop-shadow(0rem 7px 26.3px rgba(0, 0, 0, 0.1));
  border-radius: 1.2069rem;
}
.blog__card-div-img {
  height: 18.75rem;
  border-radius: 1.25rem;
  object-fit: cover;
}
.blog_card-author-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.625rem;
  gap: 0.5rem;
  position: relative;
  z-index: 1;
}

.blog_card-author-details h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875rem;
  /* or 125% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.blog__card-date-time {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  gap: 1.0625rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  /* identical to box height, or 185% */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.blog__card-lable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.1875rem 10px;
  gap: 0.625rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  /* identical to box height */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  background: #c83f3f;
  border-radius: 0.3125rem;
}

.case-study-card1 {
  height: 100%;
  width: 100%;
  border-radius: 19px;
  transition: 1s all ease-in-out;
  cursor: pointer;
}
.case-study-card1::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 19px;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #3e6aff 100%, rgba(217, 217, 217, 0) 100%), url();
  border-radius: 19px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.case-study-card1:hover::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 1.1875rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48));
  border-radius: 1.1875rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 1.1875rem;
  height: 0.1875rem;
  padding: 0;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  text-indent: -62.4375rem;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.Mostpopular-post-bar {
  color: #fff;
  background: #3e6aff;
  border-radius: 1.2069rem 19.31px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.0625rem 15px;
  gap: 0.625rem;
  margin-top: 1.6875rem;
}
.Mostpopular-post-bar h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  /* identical to box height */

  color: #ffffff;
}

.Latest-post-bar {
  color: #fff;
  background: #c83f3f;
  border-radius: 1.2069rem 19.31px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.0625rem 15px;
  gap: 0.625rem;
  margin-top: 1.6875rem;
}
.Latest-post-bar h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  /* identical to box height */

  color: #ffffff;
}

.post-added {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 1.1875rem;
  width: 100%;
}
.post-added-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  height: 14rem;
  gap: 0.1875rem;
}
.post-added-title h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875rem;
  /* or 125% */

  color: #063658;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.post-added-title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;

  color: #768996;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.post-added-title span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  /* identical to box height */

  color: #063658;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.Latest-post-showcase {
  background: #ffffff;
  /* shadow */

  box-shadow: 0px 7px 26.3px rgba(0, 0, 0, 0.1);
  border-radius: 19.31px;
}
.blog_search-card {
  gap: 3%;
  width: 100%;
  margin-top: 4px;
  text-align: start;
  padding: 0px;
  gap: 26px;
}
.blog_search-card h1 {
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */

  color: #063658;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.blog_search-card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;
  text-align: justify;

  color: #768996;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.blog_search-card a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  cursor: pointer;
  text-transform: uppercase;
  text-align: start;
  color: #3e6aff !important;
  /* Inside auto layout */
  transition: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.blog_search-card a:hover {
  border-bottom: 3px solid #3e6aff;
  border-bottom-width: 25%;
}
.Read_me-page {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;

  color: #768996;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
